package server

import (
	"context"
	"fmt"
	"log/slog"
	"os"
	"runtime"
	"time"

	"github.com/labstack/echo/v4"
	"github.com/labstack/echo/v4/middleware"
)

func StartServer() {
	startTime := time.Now()
	// Global context with timeout for server startup
	ctx := context.Background()

	slog.Info("Starting server...")

	// Shutdown gracefully on recieved signal
	go func() {
		<-ctx.Done()
		slog.Info("Shutting down server...", "uptime", time.Since(startTime))
		// Perform any necessary cleanup here
		os.Exit(0)
	}()
	e := echo.New()

	e.Use(middleware.Recover())
	e.Use(middleware.RateLimiter(middleware.NewRateLimiterMemoryStore(100))) // Limit to 100 requests per second
	e.Use(middleware.RequestLoggerWithConfig(middleware.RequestLoggerConfig{
		LogURI:    true,
		LogMethod: true,
		LogStatus: true,
		LogError:  true,
		LogValuesFunc: func(c echo.Context, v middleware.RequestLoggerValues) error {
			slog.Info("Request", "method", v.Method, "uri", v.URI, "status", v.Status, "error", v.Error)
			return nil
		}}))
	e.GET("/", func(c echo.Context) error {
		return c.String(200, "Hello, World!")
	})
	if err := e.Start(getEnv("PORT", ":8080")); err != nil {
		slog.Error("Server failed", "error", err)
	}

	a := e.Group("/api/")
	a.GET("health", handleHealth)
}

func getEnv(key, defaultValue string) string {
	value := os.Getenv(key)
	if value == "" {
		return defaultValue
	}
	return value
}

func handleHealth(c echo.Context) error {
	return c.JSON(200, map[string]string{"status": "ok", "uptime": time.Since(time.Now()).String(), "active routines": fmt.Sprintf("%d", runtime.NumGoroutine())})
}
