package database

import (
	"fmt"
	"time"

	"gorm.io/gorm"
{{- if eq .Dialect "postgres"}}
	"gorm.io/driver/postgres"
{{- else if eq .Dialect "mysql"}}
	"gorm.io/driver/mysql"
{{- else if eq .Dialect "sqlite"}}
	"gorm.io/driver/sqlite"
{{- else if eq .Dialect "sqlserver"}}
	"gorm.io/driver/sqlserver"
{{- end}}
)

type DB struct {
	*gorm.DB
}

func New(dsn string) (*DB, error) {
{{- if eq .Dialect "postgres"}}
	db, err := gorm.Open(postgres.Open(dsn), &gorm.Config{})
{{- else if eq .Dialect "mysql"}}
	db, err := gorm.Open(mysql.Open(dsn), &gorm.Config{})
{{- else if eq .Dialect "sqlite"}}
	db, err := gorm.Open(sqlite.Open(dsn), &gorm.Config{})
{{- else if eq .Dialect "sqlserver"}}
	db, err := gorm.Open(sqlserver.Open(dsn), &gorm.Config{})
{{- else}}
	return nil, fmt.Errorf("unsupported dialect %q", "{{.Dialect}}")
{{- end}}
	if err != nil {
		return nil, fmt.Errorf("open database: %w", err)
	}
	sqlDB, err := db.DB()
	if err != nil {
		return nil, fmt.Errorf("get underlying sql.DB: %w", err)
	}
	sqlDB.SetMaxOpenConns(25)
	sqlDB.SetMaxIdleConns(25)
	sqlDB.SetConnMaxLifetime(5 * time.Minute)
	return &DB{db}, nil
}

func (db *DB) Close() error {
	sqlDB, err := db.DB.DB()
	if err != nil {
		return err
	}
	return sqlDB.Close()
}
